.body {
    font-family: Roboto, sans-serif;
}

.NavTop {
    background-color: #fff;
    box-shadow: 0 2px 5px #00000042;
    display: table;
    height: 100%;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px; 
    text-align: center;
    width: 100%;  
}

.MenuButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    float: left;
    height: 19px;
    margin-left: 0;
    margin-right: auto;
    position: static;
    width: 28px;
}

.ItemNavTop {
    color: #1f1f1f;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;
}

.SignupButton {
    background: #fde8cc;
    border: 1px solid #fde8cc;
    border-radius: 100px;
    color: #3b3b3b;
    column-gap: 12px;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    margin-left: 40px;
    padding: 0;
    text-transform: uppercase;
    width: 132px;
}

.LoginButton {
    background-color: transparent;
    border: 1px solid #c2c2c2;
    border-radius: 100px;
    color: #3b3b3b;
    column-gap: 12px;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    margin-left: 12px;
    padding: 0;
    text-transform: uppercase;
    width: 132px;
}

.LogoInfobaeTop {
    height: 65px;
    margin-top: 90px;
    padding: 18.5px;
    width: 100%;
}

.NavBottom {
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    color: #555;
    gap: 32px;
    height: 32px;
    margin: 0 auto;
    max-width: 1236px;
    padding:  0px;
    text-align: center;
    }

.ItemNavBottom {
    color: inherit;
    font-size: 14px;
    line-height: 30px;
    margin-left: 40px;
    padding: 0;
    text-decoration: none;
}

.HeaderArticle {
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 16px;
    max-width: 1236px;
    padding:  0px;
}

.TagSectionArticle {
    color:black;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.RelatedButton {
    background-color: transparent;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    width: fit-content;
}

.TitleArticle {
    color: #1f1f1f;
    display: block;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 16px;
    padding-bottom: 10px;
}

.AuthorArticle {
    border-bottom: 1px solid #d5d5d5;
    color: #3b3b3b;
    font-size: 16px;
    min-height: 42px;
}

.Author {
    font-weight: bold;
}

.UploadArticle {
    margin-bottom: 16px;
    padding-top: 10px;
}

.Upload {
    color: #555555bd;
    font-size: 16px;
    font-weight: 300;
}

.ContentArticle {
    color: #1f1f1f;
    letter-spacing: normal;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 16px;
    max-width: 1236px;
    padding:  0px;
}

.ImageArticle {
    margin-bottom: 16px;
    width: 100%;
}

.TextArticle {
    color: #1f1f1f;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 24px;
    text-align: justify;
}

.Footer {
    background: #3d3d3e;
    color: #fafafa;
    padding: 26px 24px 64px;
    position: relative;
    width: 100%;
    }

.Menu {
    display: table;
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 1236px;
    padding:  0px;
    width: 100%;
}

.Column {
    display: table-cell;
    line-height: 19px;
}

.Socials {
    font-size: 14px;
    display: table-cell;
    padding: 0;
    text-align: center;
    width: 100%;
}

.TitleColumn {
    color: #fafafa;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}

.ContentColumn {
    color: #fafafa;
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}

.Copyright {
    border-top: 1px solid #d5d5d5;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 60px;
    max-width: 1236px;
    padding:  0px;
    padding-top: 20px;
    text-align: center;
}

.ContentCopyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 20px;
    text-align: center;
}